/* @font-face {
  font-family: "iransans";
  src: url(../font/IRANSansWeb.ttf);
} */
@font-face {
  font-family: "LeagueSpartan";
  src: url(../font/LeagueSpartan-VariableFont_wght.ttf);
  font-weight: 700;
}

:root {
  --primery-white: #fff;
  --primery-black: #000;
  --background-theme-1: hsl(222, 26%, 31%);
  --theme-theme-1: hsl(223, 31%, 20%);
  --manitor-theme-1: hsl(224, 36%, 15%);
  --theme-theme-2: hsl(0, 5%, 81%);
  --manitor-theme-2: hsl(0, 0%, 93%);
  --theme-theme-3: hsl(268, 71%, 12%);
  --manitor-theme-3: hsl(268, 71%, 12%);
  --red-theme1: hsl(6, 63%, 50%);
  --Light-gray: hsl(0, 0%, 90%);
  --Very-dark-violet: hsl(268, 75%, 9%);
  --Light-yellow: hsl(52, 100%, 62%);
  --Soft-cyan: hsl(177, 92%, 70%);
  --orenge: hsl(25, 98%, 40%);
  --main-backg-1: hsl(222, 26%, 31%);
  --main-backg-2: hsl(0, 5%, 81%);
  --main-backg-3: hsl(268, 71%, 12%);
  --key-shadow-blue-1: hsl(224, 28%, 35%);
  --key-backg-blue-1: hsl(225, 21%, 49%);
  --key-shadow-1: hsl(28, 16%, 65%);
  --key-backg-1: hsl(30, 25%, 89%);
  --key-shadow-3: hsl(290, 70%, 36%);
  --key-backg-3: hsl(268, 47%, 21%);
  --key-shadow-blue-3: hsl(281, 89%, 26%);
  --key-backg-blue-3: hsl(285, 91%, 52%);
  --text-color-1: hsl(221, 14%, 31%);
  --dark-red: hsl(6, 70%, 34%);
}

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  transition: all .15s;
}

body {
  font-family: "LeagueSpartan";
  background: var(--background-theme-1);
}

.thme-2 {
  background: var(--Light-gray) !important;
}

.thme-3 {
  background: var(--Very-dark-violet) !important;
}

a {
  text-decoration: none;
  color: var(--primery-black);
  border-bottom: 1px solid var(--primery-black);

}

.attribution {
  width: 100%;
  text-align: center;
}

.box {
  width: 420px;
  height: max-content;
  /* background-color: red; */
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.calculator-box {
  height: 100vh;

}

.manitor-top-top {
  display: grid;
  grid-template-columns: 50% 50%;
}

.manitor-top-top-left {
  width: 100%;
  text-align: left;
}

.manitor-top-top-right {
  width: 100%;
  text-align: right;
}

.manitor-top-top-left p {
  font-size: 22px;
  color: var(--primery-white);
}

.thme-2 .manitor-top-top-left p {
  color: var(--primery-black) !important;
}

.thme-3 .manitor-top-top-left p {
  color: var(--Light-yellow) !important;
}

.manitor-top-top-right p {
  display: inline-block;
}

.radiuo-box {
  width: 60px;
  height: 21px;
  background: var(--theme-theme-1);
  border-radius: 20px;
  position: relative;
  transform: translateY(-6px);
}

.thme-2 .radiuo-box {
  background: var(--theme-theme-2) !important;
}

.thme-3 .radiuo-box {
  background: var(--theme-theme-3) !important;
}

.theme-text {
  color: var(--primery-white);
  font-size: 11px;
  margin-right: 15px;
}

.thme-2 .theme-text {
  color: var(--primery-black) !important;
}

.thme-3 .theme-text {
  color: var(--Light-yellow) !important;
}

.bull {
  width: 15px;
  height: 15px;
  background: var(--red-theme1);
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 5%;

  transition: all .5s;
}

.thme-2 .bull {
  background: var(--orenge) !important;
}

.thme-3 .bull {
  background: var(--Soft-cyan) !important;
}

.addad {
  display: grid;
  grid-template-columns: auto auto auto;
  transform: translateY(-15px);
  font-size: 10px;
  color: var(--primery-white);
}

.thme-2 .addad {
  color: var(--primery-black) !important;
}

.thme-3 .addad {
  color: var(--Light-yellow) !important;
}

.hidden {
  display: grid;
  grid-template-columns: auto auto auto;
  position: absolute;
  height: 20px;
  width: 60px;
}

.hidden .item {
  width: 90%;
  height: 100%;

}

.monitor {
  width: 100%;
  height: 110px;
  background: var(--manitor-theme-1);
  margin-top: 20px;
  border-radius: 10px;
}

.math_input {
  padding: 15px 20px 0 20px;

  width: 100%;
  text-align: right;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.404);
}

.thme-2 .math_input {
  color: rgba(0, 0, 0, 0.404);
}

.monitor-input {
  width: 100%;
  height: 65%;
  background: none;
  border: none;

  color: var(--primery-white);
  padding: 10px 20px;
  text-align: right;
  transition: all 1s;
}

.font_size_50 {
  font-size: 50px;
}

.font_size_35 {
  font-size: 35px !important;
}

.font_size_30 {
  font-size: 30px !important;
}

.monitor-input:focus {
  outline: none;
}

.thme-2 .monitor-input {

  color: var(--primery-black) !important;
}

.thme-3 .monitor-input {

  color: var(--Light-yellow) !important;
}

.thme-2 .monitor {
  background: var(--manitor-theme-2) !important;
  color: var(--primery-black) !important;
}

.thme-3 .monitor {
  background: var(--manitor-theme-3) !important;
  color: var(--Light-yellow) !important;
}

.keyboard-bottom-box {
  width: 100%;
  height: max-content;
  padding: 20px;
  background: var(--theme-theme-1);
  margin-top: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}

.thme-2 .keyboard-bottom-box {

  background: var(--main-backg-2) !important;
}

.thme-3 .keyboard-bottom-box {

  background: var(--main-backg-3) !important;
}

.keyboard-bottom-box button {
  width: 100%;
  height: 50px;
  background: var(--key-backg-1);
  border-radius: 8px;
  border: none;
  color: var(--text-color-1);
  font-size: 30px;
  padding-top: 5px;
  border-bottom: 3px solid var(--key-shadow-1);
  /* box-shadow: 0 5px 10% var(--key-shadow-1); */
}



.thme-3 .keyboard-bottom-box #k {

  background: var(--key-backg-3) !important;
  color: var(--Light-yellow) !important;
  border-bottom: 3px solid var(--key-shadow-3);
}

.reset-key {
  grid-column-start: 1;
  grid-column-end: 3;
}

.Equal-key {
  grid-column-start: 3;
  grid-column-end: 5;
}

.blue-backg-key {
  font-size: 20px !important;
  background: var(--key-backg-blue-1) !important;
  border-bottom: 3px solid var(--key-shadow-blue-1) !important;
  color: var(--primery-white) !important;
}

.thme-2 .blue-backg-key {

  background: hsl(185, 42%, 37%) !important;
  border-bottom: 3px solid hsl(185, 58%, 25%) !important;
}

.thme-3 .blue-backg-key {

  background: var(--key-backg-blue-3) !important;
  border-bottom: 3px solid var(--key-shadow-blue-3) !important;
}

.red-backg-key {
  font-size: 20px !important;
  background: var(--red-theme1) !important;
  border-bottom: 3px solid var(--dark-red) !important;
  color: var(--primery-white) !important;

}

.thme-2 .red-backg-key {


  background: var(--orenge) !important;
  border-bottom: 3px solid hsl(25, 99%, 27%) !important;
}

.thme-3 .red-backg-key {
  color: var(--primery-black) !important;
  background: var(--Soft-cyan) !important;
  border-bottom: 3px solid hsl(177, 40%, 49%) !important;
}

.keyboard-bottom-box button:hover {
  background: var(--primery-white);
}

.thme-3 .keyboard-bottom-box #k:hover {
  background: hsl(281, 89%, 26%) !important;
}

.keyboard-bottom-box button:active {
  border: 0 !important;
}

.error {
  width: 0px;

  position: absolute;
  background: var(--dark-red);
  color: var(--primery-white);
  border-radius: 20px;
  margin: auto;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: all 1s;
}

.error p {
  width: 206px;
  padding: 5px 10px 2px 10px;

}

.show_error {
  width: 206px !important;
}